In [20]:
import provider
import pandas
import numpy as np

In [2]:
mongo_client = provider.init_client(username="mongo" , password="12345678")

In [3]:
db = mongo_client["food_project"]
food_user_col = db["food_user"]
food_ingredients = db["food_ingredients"]

In [8]:
data_food_cursor = food_ingredients.find({})
data_food = []

for e in data_food_cursor:
    data_food.append({
        "food_id":str(e["_id"]),
        "name":e["name"]
    })
df_food = pandas.DataFrame(data_food)
df_food

                     food_id                                        name
0   659e26b24927ce6caf1b5be4    Grilled chicken with eggplant and tomato
1   659e26b24927ce6caf1b5be5                           Eggplant Parmesan
2   659e26b24927ce6caf1b5be6                   Tomato and onion omelette
3   659e26b24927ce6caf1b5be7                   Carrot and onion stir-fry
4   659e26b24927ce6caf1b5be8                  Eggplant and beef stir-fry
..                       ...                                         ...
95  659e26b24927ce6caf1b5c43                     Pork and eggplant curry
96  659e26b24927ce6caf1b5c44                       Potato and gourd hash
97  659e26b24927ce6caf1b5c45                  Chicken and tomato skewers
98  659e26b24927ce6caf1b5c46            Radish and spring onion omelette
99  659e26b24927ce6caf1b5c47  Grilled gourd with beef and purple cabbage

[100 rows x 2 columns]

In [10]:
data_user_cursor = food_user_col.find({})
data_user = []

for e in data_user_cursor:
    data_user.append({
        "food_id": str(e["food_id"]),
        "user_id":e["user_id"],
        "total_click": e["total_click"]
    })
df_food_user = pandas.DataFrame(data_user)
df_food_user

                       food_id  user_id  total_click
0     659e26b24927ce6caf1b5c31        1            4
1     659e26b24927ce6caf1b5bf8        1           33
2     659e26b24927ce6caf1b5c09        1           67
3     659e26b24927ce6caf1b5c0e        1           22
4     659e26b24927ce6caf1b5c20        1           35
...                        ...      ...          ...
1490  659e26b24927ce6caf1b5bf7       20           94
1491  659e26b24927ce6caf1b5c31       20           66
1492  659e26b24927ce6caf1b5c28       20           21
1493  659e26b24927ce6caf1b5be4       20           38
1494  659e26b24927ce6caf1b5c3f       20           77

[1495 rows x 3 columns]

In [11]:
df_master = pandas.merge(df_food,df_food_user)
df_master

,food_id,name,user_id,total_click
0,659e26b24927ce6caf1b5be4,Grilled chicken with eggplant and tomato,1,41
1,659e26b24927ce6caf1b5be4,Grilled chicken with eggplant and tomato,3,2
2,659e26b24927ce6caf1b5be4,Grilled chicken with eggplant and tomato,7,39
3,659e26b24927ce6caf1b5be4,Grilled chicken with eggplant and tomato,7,2
4,659e26b24927ce6caf1b5be4,Grilled chicken with eggplant and tomato,5,1
...,...,...,...,...
1490,659e26b24927ce6caf1b5c47,Grilled gourd with beef and purple cabbage,13,45
1491,659e26b24927ce6caf1b5c47,Grilled gourd with beef and purple cabbage,14,8
1492,659e26b24927ce6caf1b5c47,Grilled gourd with beef and purple cabbage,16,62
1493,659e26b24927ce6caf1b5c47,Grilled gourd with beef and purple cabbage,17,45
1494,659e26b24927ce6caf1b5c47,Grilled gourd with beef and purple cabbage,20,26

In [29]:
df_master_pivot = df_master.pivot_table(index=["user_id"] , columns=["name"] , values="total_click")
df_master_pivot

name,Beef and eggplant stew,Beef and gourd curry,Beef and gourd kebabs,Beef and onion kebabs,Beef and onion stir-fry,Beef and potato curry,Beef and potato kabobs,Beef and potato stew,Beef and radish curry,Beef and radish stir-fry,...,Tomato and carrot pasta sauce,Tomato and carrot soup,Tomato and onion omelette,Tomato and onion pasta sauce,Tomato and onion pizza,Tomato and onion quiche,Tomato and onion salad,Tomato and onion tart,Tomato and potato soup,Tomato and radish pasta sauce
user_id,,,,,,,,,,,,,,,,,,,,,
1,44.0,86.0,77.000000,22.0,NaN,31.00,76.5,72.000000,32.0,52.000000,...,41.5,75.000000,64.000000,NaN,NaN,80.000000,5.0,41.5,1.0,3.000000
2,NaN,78.0,64.833333,52.0,62.0,58.75,NaN,59.333333,45.0,86.000000,...,29.0,54.000000,55.500000,NaN,NaN,24.000000,NaN,61.0,56.0,77.000000
3,40.4,42.5,47.600000,NaN,23.0,38.75,NaN,48.333333,38.0,76.333333,...,98.0,NaN,61.666667,58.0,40.500000,56.000000,NaN,78.0,NaN,NaN
4,10.0,48.0,54.333333,NaN,78.0,51.00,17.0,62.000000,NaN,12.000000,...,76.0,30.500000,NaN,40.0,16.000000,12.000000,NaN,6.0,96.0,100.000000
5,80.0,NaN,17.500000,56.0,93.0,60.00,16.0,NaN,NaN,NaN,...,14.0,88.000000,17.500000,NaN,NaN,25.000000,NaN,NaN,36.0,50.500000
6,49.5,NaN,65.000000,76.0,54.0,68.00,NaN,NaN,81.5,NaN,...,98.0,54.000000,NaN,NaN,47.000000,34.000000,NaN,92.0,NaN,64.333333
7,57.0,NaN,NaN,NaN,NaN,97.00,51.0,NaN,17.0,NaN,...,79.0,36.500000,NaN,69.0,NaN,83.000000,NaN,NaN,73.0,NaN
8,NaN,60.0,79.000000,NaN,NaN,46.00,9.0,NaN,NaN,27.333333,...,54.0,NaN,NaN,20.0,22.333333,86.000000,NaN,39.0,53.0,NaN
9,52.0,61.0,NaN,12.0,56.0,NaN,42.0,30.000000,NaN,67.000000,...,NaN,43.000000,NaN,NaN,80.000000,NaN,NaN,38.0,NaN,NaN
10,NaN,NaN,53.000000,81.0,NaN,43.00,NaN,NaN,57.5,NaN,...,NaN,43.000000,NaN,NaN,NaN,NaN,70.0,NaN,NaN,NaN
11,NaN,NaN,25.000000,35.0,2.0,37.00,26.0,23.000000,NaN,37.000000,...,NaN,83.000000,44.000000,94.0,19.000000,NaN,NaN,96.0,68.0,55.000000
12,31.0,30.0,36.500000,60.0,NaN,16.00,28.0,NaN,81.0,24.000000,...,NaN,NaN,NaN,34.5,NaN,NaN,31.0,60.0,NaN,78.000000
13,NaN,NaN,NaN,3.0,64.0,NaN,NaN,48.000000,NaN,NaN,...,51.5,25.000000,NaN,NaN,65.000000,44.500000,NaN,NaN,58.0,27.000000
14,NaN,34.0,83.000000,79.0,59.5,19.50,NaN,NaN,NaN,NaN,...,55.0,20.500000,54.000000,75.0,88.000000,83.000000,NaN,NaN,NaN,NaN
15,41.0,NaN,62.000000,NaN,60.0,NaN,NaN,68.000000,NaN,65.000000,...,NaN,NaN,47.000000,20.5,84.500000,49.333333,NaN,NaN,70.0,NaN
16,32.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,59.000000,NaN,NaN,NaN,38.000000,39.5,NaN,NaN,NaN
17,42.0,NaN,NaN,NaN,NaN,NaN,NaN,27.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,14.0,NaN,NaN,NaN,NaN,NaN,46.0,20.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000
19,68.0,98.0,NaN,46.0,71.0,NaN,50.0,59.500000,NaN,63.666667,...,NaN,81.333333,68.000000,94.0,36.500000,91.000000,NaN,49.5,NaN,79.500000
20,NaN,NaN,79.000000,NaN,25.0,NaN,NaN,NaN,NaN,NaN,...,11.0,NaN,NaN,NaN,48.000000,42.000000,NaN,NaN,1.0,NaN

In [30]:
food_rating = df_master_pivot["Beef and eggplant stew"]
food_rating

user_id
1     44.0
2      NaN
3     40.4
4     10.0
5     80.0
6     49.5
7     57.0
8      NaN
9     52.0
10     NaN
11     NaN
12    31.0
13     NaN
14     NaN
15    41.0
16    32.0
17    42.0
18    14.0
19    68.0
20     NaN
Name: Beef and eggplant stew, dtype: float64

In [18]:
corr_table = df_master_pivot.corrwith(food_rating)
corr_table = corr_table.dropna()
corr_table

name
Beef and eggplant stew           1.000000
Beef and gourd curry             0.696786
Beef and gourd kebabs           -0.428675
Beef and onion kebabs            0.052708
Beef and onion stir-fry          0.283387
                                   ...
Tomato and onion quiche          0.396300
Tomato and onion salad          -0.952979
Tomato and onion tart            0.460495
Tomato and potato soup          -0.499743
Tomato and radish pasta sauce   -0.170732
Length: 98, dtype: float64

In [19]:
corr_table.sort_values(ascending=False).head(20)

name
Beef and eggplant stew                     1.000000
Potato and gourd hash                      1.000000
Grilled chicken and potato salad           0.983053
Carrot and gourd soup                      0.979219
Purple cabbage coleslaw                    0.971733
Gourd and pork soup                        0.961420
Stuffed eggplant with beef and rice        0.939384
Gourd and purple cabbage stir-fry          0.780860
Beef and radish stir-fry                   0.765261
Carrot and onion stir-fry                  0.748523
Tomato and onion pasta sauce               0.725139
Beef and gourd curry                       0.696786
Eggplant and radish stir-fry               0.675542
Tomato and carrot soup                     0.661602
Stuffed bell peppers with beef and rice    0.611048
Tomato and onion tart                      0.460495
Potato and pork hash                       0.445889
Beef and potato curry                      0.435483
Gourd and pork casserole                   0.428632
Pork and tomato stew                       0.419412
dtype: float64

In [22]:
foodStats = df_master.groupby('name').agg({'total_click':{np.size,np.mean}})
foodStats

/var/folders/dk/8plcwpv53gg0_dg9fkx_rgr00000gn/T/ipykernel_61714/1456708464.py:1: FutureWarning: The provided callable <function mean at 0x1064ee9d0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  foodStats = df_master.groupby('name').agg({'total_click':{np.size,np.mean}})

                              total_click
                                     mean size
name
Beef and eggplant stew          43.100000   20
Beef and gourd curry            53.846154   13
Beef and gourd kebabs           57.176471   34
Beef and onion kebabs           50.000000   13
Beef and onion stir-fry         54.812500   16
...                                   ...  ...
Tomato and onion quiche         54.555556   18
Tomato and onion salad          36.000000    6
Tomato and onion tart           55.285714   14
Tomato and potato soup          54.333333   15
Tomato and radish pasta sauce   61.687500   16

[98 rows x 2 columns]

In [24]:
popular_food = foodStats["total_click"]["size"] > 10
foodStats[popular_food].sort_values([('total_click','mean')],ascending=False)[:15]

                                        total_click
                                               mean size
name
Tomato and radish pasta sauce             61.687500   16
Grilled chicken with roasted vegetables   60.833333   12
Chicken and purple cabbage stir-fry       60.750000   12
Potato and pork skillet                   60.500000   18
Pork and eggplant kabobs                  59.214286   14
Carrot and purple cabbage coleslaw        58.833333   12
Roasted pork with tomato and onion        58.687500   16
Stuffed eggplant with pork and rice       58.545455   11
Carrot and gourd stir-fry                 58.333333   12
Radish and spring onion omelette          58.272727   11
Pork and eggplant casserole               57.307692   13
Beef and gourd kebabs                     57.176471   34
Purple cabbage and carrot slaw            57.105263   19
Potato and egg omelette                   57.000000   16
Stuffed bell peppers with beef and rice   56.526316   19

In [25]:
foodStats[popular_food].sort_values([('total_click','size')],ascending=False)[:15]

                                 total_click
                                        mean size
name
Beef and gourd kebabs              57.176471   34
Chicken and gourd casserole        42.285714   28
Pork and potato hash               47.925926   27
Eggplant Parmesan                  37.192308   26
Chicken and radish stir-fry        45.826087   23
Carrot and onion soup              40.695652   23
Beef and potato curry              45.727273   22
Pork and eggplant curry            50.045455   22
Beef and spring onion sandwiches   52.136364   22
Tomato and carrot soup             52.857143   21
Beef and eggplant stew             43.100000   20
Carrot and potato soup             47.900000   20
Egg and radish sandwiches          47.600000   20
Chicken and potato skillet         54.210526   19
Purple cabbage and carrot slaw     57.105263   19

In [26]:
df_similarity = pandas.DataFrame(corr_table,columns=['similarity'])
df_similarity

                               similarity
name
Beef and eggplant stew           1.000000
Beef and gourd curry             0.696786
Beef and gourd kebabs           -0.428675
Beef and onion kebabs            0.052708
Beef and onion stir-fry          0.283387
...                                   ...
Tomato and onion quiche          0.396300
Tomato and onion salad          -0.952979
Tomato and onion tart            0.460495
Tomato and potato soup          -0.499743
Tomato and radish pasta sauce   -0.170732

[98 rows x 1 columns]

In [32]:
df = foodStats[popular_food]["total_click"].join(df_similarity , on='name')
df

                                    mean  size  similarity
name
Beef and eggplant stew         43.100000    20    1.000000
Beef and gourd curry           53.846154    13    0.696786
Beef and gourd kebabs          57.176471    34   -0.428675
Beef and onion kebabs          50.000000    13    0.052708
Beef and onion stir-fry        54.812500    16    0.283387
...                                  ...   ...         ...
Tomato and onion pizza         47.062500    16    0.387489
Tomato and onion quiche        54.555556    18    0.396300
Tomato and onion tart          55.285714    14    0.460495
Tomato and potato soup         54.333333    15   -0.499743
Tomato and radish pasta sauce  61.687500    16   -0.170732

[88 rows x 3 columns]

In [35]:
df = df.drop("Beef and eggplant stew")

In [36]:
df.sort_values(['similarity'] , ascending=False)

                                                 mean  size  similarity
name
Purple cabbage coleslaw                     34.666667    12    0.971733
Stuffed eggplant with beef and rice         48.727273    11    0.939384
Gourd and purple cabbage stir-fry           44.187500    16    0.780860
Beef and radish stir-fry                    54.764706    17    0.765261
Carrot and onion stir-fry                   40.272727    11    0.748523
...                                               ...   ...         ...
Carrot and eggplant curry                   51.909091    11   -0.662224
Stuffed bell peppers with chicken and rice  46.933333    15   -0.723286
Purple cabbage and chicken wraps            53.428571    14   -0.753231
Purple cabbage and carrot slaw              57.105263    19   -0.828124
Grilled gourd with beef and purple cabbage  47.400000    15   -0.923556

[87 rows x 3 columns]

In [37]:
mongo_client.close()

In [38]:
df_master_user_pivot = df_master.pivot_table(index=["name"] , columns=["user_id"] , values="total_click")
df_master_user_pivot

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
name,,,,,,,,,,,,,,,,,,,,
Beef and eggplant stew,44.0,NaN,40.4,10.000000,80.0,49.500000,57.0,NaN,52.0,NaN,NaN,31.0,NaN,NaN,41.000000,32.0,42.0,14.0,68.0,NaN
Beef and gourd curry,86.0,78.000000,42.5,48.000000,NaN,NaN,NaN,60.0,61.0,NaN,NaN,30.0,NaN,34.0,NaN,30.0,NaN,NaN,98.0,NaN
Beef and gourd kebabs,77.0,64.833333,47.6,54.333333,17.5,65.000000,NaN,79.0,NaN,53.0,25.0,36.5,NaN,83.0,62.000000,NaN,NaN,NaN,NaN,79.0
Beef and onion kebabs,22.0,52.000000,NaN,NaN,56.0,76.000000,NaN,NaN,12.0,81.0,35.0,60.0,3.0,79.0,NaN,NaN,NaN,NaN,46.0,NaN
Beef and onion stir-fry,NaN,62.000000,23.0,78.000000,93.0,54.000000,NaN,NaN,56.0,NaN,2.0,NaN,64.0,59.5,60.000000,NaN,NaN,NaN,71.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tomato and onion quiche,80.0,24.000000,56.0,12.000000,25.0,34.000000,83.0,86.0,NaN,NaN,NaN,NaN,44.5,83.0,49.333333,38.0,NaN,NaN,91.0,42.0
Tomato and onion salad,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,NaN,31.0,NaN,NaN,NaN,39.5,NaN,NaN,NaN,NaN
Tomato and onion tart,41.5,61.000000,78.0,6.000000,NaN,92.000000,NaN,39.0,38.0,NaN,96.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,49.5,NaN
Tomato and potato soup,1.0,56.000000,NaN,96.000000,36.0,NaN,73.0,53.0,NaN,NaN,68.0,NaN,58.0,NaN,70.000000,NaN,NaN,NaN,NaN,1.0
Tomato and radish pasta sauce,3.0,77.000000,NaN,100.000000,50.5,64.333333,NaN,NaN,NaN,NaN,55.0,78.0,27.0,NaN,NaN,NaN,NaN,40.0,79.5,NaN

In [40]:
df_user = df_master_user_pivot[1]
df_user

name
Beef and eggplant stew           44.0
Beef and gourd curry             86.0
Beef and gourd kebabs            77.0
Beef and onion kebabs            22.0
Beef and onion stir-fry           NaN
                                 ...
Tomato and onion quiche          80.0
Tomato and onion salad            5.0
Tomato and onion tart            41.5
Tomato and potato soup            1.0
Tomato and radish pasta sauce     3.0
Name: 1, Length: 98, dtype: float64

In [42]:
df_user_corr = df_master_user_pivot.corrwith(df_user)
df_user_corr = df_user_corr.dropna()
df_user_corr

user_id
1     1.000000
2    -0.313136
3    -0.000275
4    -0.168461
5     0.021056
6    -0.100583
7     0.150134
8     0.150410
9    -0.189347
10   -0.242674
11   -0.290119
12   -0.181156
13   -0.156664
14   -0.215627
15   -0.358594
16   -0.234299
17    0.601987
18    0.065241
19    0.121981
20    0.205241
dtype: float64

In [43]:
df_user_corr.sort_values(ascending=False)

user_id
1     1.000000
17    0.601987
20    0.205241
8     0.150410
7     0.150134
19    0.121981
18    0.065241
5     0.021056
3    -0.000275
6    -0.100583
13   -0.156664
4    -0.168461
12   -0.181156
9    -0.189347
14   -0.215627
16   -0.234299
10   -0.242674
11   -0.290119
2    -0.313136
15   -0.358594
dtype: float64